:root {
    --primary-colour:white;
    --secondary-colour:#e44d4d;

    --standard-margin: 8rem;
    --standard-padding: 1rem;
}

html, body {
    background-color: var(--primary-colour); 
    color: var(--primary-colour);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.card {
    background-color: var(--secondary-colour);
    margin-left: var(--standard-margin);
    margin-right: var(--standard-margin);
    margin-top: calc(var(--standard-margin)/2);
    padding: var(--standard-padding);
    /* width: 100%;
    margin-left: -1rem; */
    text-align: center;

    border-radius: calc(var(--standard-margin)/6);
}
.card > h2 {
    font-weight: 100;
    font-size: large;
}

.title {
    color: var(--secondary-colour);
}
.title > h1 {
    font-size: 8rem;
    margin-top: 1rem;
}
.title > h2 {
    margin-top: -6rem;
}

.center {
    text-align: center;
}

.toolbar {
    border-radius: calc(var(--standard-margin)/3);
    background-color: var(--secondary-colour);
    margin-left: var(--standard-margin);
    margin-right: var(--standard-margin);
    margin-bottom: calc(var(--standard-margin)/3);
    height: 1rem;
}
/* @tailwind base;
@tailwind components;
@tailwind utilities; */