.main {
    position: relative;
    overflow-x: hidden;
    /* background: #FFFFFF; */
    background: #fcf269; /* Temp debug background colour */
}

/* TODO: Fix the repeating math wallpaper */
#page-view {
    position: absolute;
    width: calc(100vw + 10px);
    height: 1000px; /* FIXME: Make flex-y? :^) */
    top: -78px;
    left: -10px;
    background-color: #ffffff;
}

.header {
    z-index: 10;
    position: absolute;
    width: calc(100vw + 10px);
    height: 68px;
    left: -10px;
    top: -10px;
    background: #E04E4F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-btn {
    cursor: pointer;
    position: absolute;
    width: 120px;
    /* Centers element on y-axis */
    top: 0px;
    bottom: 0px;

    padding: 0px;

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    text-align:center; 

    color: #FFFFFF;
    background-color: transparent;
    border:rgba(0, 0, 0, 0);
}
/* Individual header buttons */
/* TODO: Find nicer way to make these spacings. Flex? */
#senaste    {left: calc(25% - 60px);    }
#nyheter    {left: calc(42.5% - 60px);  }
#om-oss     {left: calc(57.5% - 60px);  }
#kontakt    {left: calc(75% - 60px);    }

.header-btn:hover {
    text-decoration: underline;
}
/* Profile button */
#profil {
    cursor: pointer;
    position: absolute;

    left: calc(100vw - 70px);
    top: calc(20px/2);

    background-color: transparent;
    border:rgba(0, 0, 0, 0);
}

#profil>img{
    width: calc(68px - 20px);
}