.main {
    position: relative;
    overflow-x: hidden;
    /* background: #FFFFFF; */
    /* Temp debug background colour */
    background: #fcf269;
}

/* TODO: Fix the repeating math wallpaper */
#page-view {
    position: absolute;
    padding-top: 50px;
    width: calc(100vw + 10px);
    /* FIXME: Make flex-y? :^) */
    height: calc(1000px - 120px);
    left: -10px;
    top: -10px;
    background-color: #ffffff;
}

.header {
    z-index: 10;
    position: absolute;
    width: calc(100vw + 10px);
    height: 50px;
    left: -10px;
    top: -10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* scale: 0.8; */
}

.header-btn {
    cursor: pointer;
    position: absolute;
    width: 120px;
    /* Centers element on y-axis */
    top: 0px;
    bottom: 0px;

    padding: 0px;

    font-size: 20px;
    line-height: 35px;
    text-align: center;

    color: #ffc3c4;
    background-color: transparent;
    border: rgba(0, 0, 0, 0);
}

/* Individual header buttons */
/* TODO: Find nicer way to make these spacings. Flex? */
#senaste {
    left: calc(25% - 60px);
}

#nyheter {
    left: calc(42.5% - 60px);
}

#om-oss {
    left: calc(57.5% - 60px);
}

#kontakt {
    left: calc(75% - 60px);
}

.header-btn:hover {
    color: #FFFFFF;
}

/* Profile button */
#profil {
    cursor: pointer;
    position: absolute;

    left: calc(100vw - 70px);
    top: 5px;

    background-color: transparent;
    border: rgba(0, 0, 0, 0);
}

#profil>img {
    width: 40px;
}