<!DOCTYPE html>

<html>

<body>
    <div class="login-card bg-red no-touchy center">
        <span id="title" class="white">Logga in för att fortsätta</span>
        <form action="">
            <input class="bg-dark-red ph white" type="text" name="Username" id="usr" placeholder="Username">
            <input class="bg-dark-red ph white" type="password" name="Password" id="pass" placeholder="Password">
            <div class="remember-me h-font light-red">
                <span id="remember-me" class="center-y">Remember me</span>
                <label class="switch">
                    <input type="checkbox" id="">
                    <span class="slider round"></span>
                </label>
            </div>
            <button type="submit">Logga in</button>
        </form>
    </div>  
</body>

</html>