<!DOCTYPE html>

<html>
    <body class="main">
        <div id="page-view">
            <div id="login-page">
                <div class="login-card bg-red">
                    <span id="title">Logga in för att fortsätta</span>
                    <form action="">
                        <input class="bg-dark-red ph" type="text" name="Username" id="usr" placeholder="Username">
                        <input class="bg-dark-red ph" type="password" name="Password" id="pass" placeholder="Password">
                        <label class="switch">
                            <input type="checkbox" id="">
                            <span class="slider round"></span>
                        </label>
                        <button type="submit">Logga in</button>
                    </form>
                    <span id="remember-me">Remember me</span>
                </div>
            </div>
        </div>
    </body>
</html>