<!DOCTYPE html>

<html>

<body class="main">
    <div id="header" class="header bg-red">
        <div style="width: 60%; display: flex; justify-content: space-around;">
            <button id="senaste" class="header-btn" onclick="s('event')">Senaste</button>
            <button id="nyheter" class="header-btn" onclick="s('news')">Nyheter</button>
            <button id="om-oss" class="header-btn" onclick="s('about')">Om oss</button>
        </div>
        <!-- <button id="kontakt" class="header-btn" onclick="s()">Kontakt</button> -->
    </div>
    <a id="pro" href="/login">
        <button id="profil">
            <img src="/assets/profile-white.png" alt="Profil">
        </button>
    </a>
</body>

</html>